* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100vh;
    width: 100%;
}

#top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#top h1 {
    font-family: 'gooddog plain';
    font-size: 7vw;
    margin-bottom: 1.5vw;
}
#search {
    width: 100%;
    display: flex;
    gap: 10vw;
}
#search input {
    height: 2.5vw;
    width: 45vw;
    border-radius: .5vw;
    border: 1px solid black;
}
#search button {
    padding: .7vw 2.5vw;
    border: 1px solid black;
    border-radius: .5vw;
}

/* bottom part */
#container {
    width: 100%;
    height: 75vh;
    overflow-y: scroll;
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2vw;
    gap: 1rem;
}

.item {
    width: 100%;
    border: 1px solid black;
    border-radius: .9vw;
    box-shadow: 1vw .5vw 1vw rgba(0, 0, 0, 0.444);
    height: 30rem;
}

.item1 {
    width: 100%;
}

.b-top {
    width: 100%; 
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1747595509327-20fb3e0c3216?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: .8vw;
    border-top-right-radius: .8vw;
}

.btm {  
    height: 50%;
    width: 100%;
    background-color: #FF6347;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-bottom-left-radius: .8vw;
    border-bottom-right-radius: .8vw;
    padding-left: 1vw;
    font-family: 'gooddog plain';
}
.btm h1{
    font-size: 2.5vw;
}
.btm p{
    font-size: 1.2vw;
}

.btm button {
    text-decoration: none;
    font-size: 2vw;
    border: .1vw solid black;
    border-radius: .7vw;
    padding: .5vw 2vw .5vw 2vw;
    background-color: #FFD700;
    font-family: 'GoodDog Plain';
}

.btm button:hover {
    background-color: black;
    border: .1vw solid #FFD700;
    color: #FFD700;
}

.btm-para {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding-right: 6vw;
    padding-left: 1vw;
}

.btm-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2.5vw;
} 

/* --------Item 2--------- */

#item2 {
    width: 100%;
}
#item3 {
    width: 100%;
}
#item4 {
    width: 100%;
}
#item5 {
    width: 100%;
}

